$preferred_font: 'Open Sans', sans-serif;

$layout-header-desktop-row-height: 84px;
$layout-header-desktop-baseline: 100px;

@import "~material-design-lite/src/material-design-lite-grid.scss";
@import "~material-design-lite/src/material-design-lite.scss";
