{
  "presets": ["es2015", "stage-1"],
  "plugins": [
    ["angularjs-annotate", {
      "explicitOnly": true
    }],
    ["module-resolver", {
      "alias": {
        "app": "./app"
      }
    }]
  ]
}
