<div class="contact-page mdl-grid" ng-class="{'contact-page--submitted': $ctrl.submitted}"
  mdl-upgrade>
  <div class="mdl-cell mdl-cell--middle mdl-cell--12-col">
    <h2 class="page-heading">Contact</h2>
    <p ng-if="$ctrl.submitted">
      Thank you for contacting us, we will get back to you shortly.
    </p>
    <form ng-if="!$ctrl.submitted" name="contactForm" class="contact-page__form" ng-submit="$ctrl.submit(contactForm)">
      <fieldset>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" id="name" name="name" ng-model="$ctrl.data.name"
            required>
            <label class="mdl-textfield__label" for="name">Your Name</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="name" ng-show="contactForm.name.$invalid && contactForm.name.$touched">
              <span ng-show="contactForm.name.$error.required">Required.</span>
            </span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" id="phone" name="phone" ng-model="$ctrl.data.phone"
            required>
            <label class="mdl-textfield__label" for="phone">Phone Number</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="phone" ng-show="contactForm.phone.$invalid && contactForm.phone.$touched">
              <span ng-show="contactForm.phone.$error.required">Required.</span>
            </span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" id="email" name="email" ng-model="$ctrl.data.email"
            type="email" required>
            <label class="mdl-textfield__label" for="email">Email Address</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="email" ng-show="contactForm.email.$invalid && contactForm.email.$touched">
              <span ng-show="contactForm.email.$error.required">Required.</span>
              <span ng-show="contactForm.email.$error.email">Invalid email.</span>
            </span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" id="message" name="message" ng-model="$ctrl.data.message"
            rows="5" required></textarea>
            <label class="mdl-textfield__label" for="message">Your Message</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="message" ng-show="contactForm.message.$invalid && contactForm.message.$touched">
              <span ng-show="contactForm.message.$error.required">Required.</span>
            </span>
        </div>
      </fieldset>
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
        ng-disabled="contactForm.$invalid || $ctrl.submitting">
        Send Message!
        </button>
    </form>
  </div>
  </div>
